* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    padding: 50px 0;
    background-color: #232F3E;
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Adicione esta propriedade para permitir que os elementos quebrem para a próxima linha em telas menores */
    justify-content: space-between;
}

.footer-col {
    width: 25%;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22.7px;
    white-space: nowrap;
    margin-bottom: 30px;
}

.footer-col h4 {
    font-size: 21px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 21px;
    font-weight: 500;
    position: relative;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 22.7px;
    white-space: nowrap;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background: white;
    height: 3px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 18px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
}

.footer-col .social-links a i {
    font-size: 35px;
    margin-top: 2px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links #facebook:hover {
    background-image: radial-gradient(circle at 50% -20.71%, #dafdff 0, #afe7ff 16.67%, #7ecefb 33.33%, #3cb5f2 50%, #009ce9 66.67%, #0084e0 83.33%, #006ed7 100%);
    transition: 0.5s linear;
    color: #ffffff;
    transform: scale(1.10);
}

.footer-col .social-links #instagram:hover {
    background: linear-gradient(45deg, #405de6, #5851DB, #833AB4, #C13584, #E1306D, #fd1d1d);
    transition: 0.5s linear;
    color: #ffffff;
    transform: scale(1.10);
}

.footer-col .social-links #linkedin:hover {
    background-image: radial-gradient(circle at 50% -20.71%, #acfff5 0, #91fff3 16.67%, #6ffcf2 33.33%, #3cf2f2 50%, #00e8f3 66.67%, #00def6 83.33%, #00d5fa 100%);
    transition: 0.5s linear;
    color: #ffffff;
    transform: scale(1.10);
}

.footer-col .social-links #mapa:hover {
    background-image: radial-gradient(circle at 50% -20.71%, #a0f968 0, #87f76c 16.67%, #68f572 33.33%, #3cf278 50%, #00ef7f 66.67%, #00ec88 83.33%, #00e993 100%);
    color: #ffffff;
    transition: 0.5s linear;
    transform: scale(1.10);
}

ul {
    list-style-type: none;
}

.img-rs {
    width: 65%;
}

/* Responsivo */
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }
}
